/* Reseting default browser padding and margin to 0 */
/* Adding font families and setting font size to 10ox for easy math regarding ems and rems */
/* Adding box-sizing property so padding and margin dont add to width of elements */
*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair Display', serif;
  font-size: 10px;
  box-sizing: border-box;
}
/* setting width and height 100% */
body{
  min-height: 100vh;
  width: 100%;
}

/*  */
.wrapper{
  width: 100%;
  min-width: 350px;
  min-height: 100vh;
  max-width: 960px;
}

.container-1{
  width: 90%;
  display: flex;
  flex-direction: column;
  min-width: 350px;
  /* align-items: center; */
}

.container-1-h1{
  width: 90%;
  height: 29px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 2rem 0rem 1rem 2rem ;
}

.container-cont{
  display: flex;
  margin: 2em;
  width: 90%;
}

.dots{
  display: inline-block;
  width: 2rem;
}
.container-cont-p{
  width: 100%;
  height: 88px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4F4F4F;
}

.img{
  background-image: url(/photo1\ 5.50.46\ PM.png);
  width: 80%;
  padding: 20.61%;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  margin-left: 2rem;
  min-width: 350px;
  max-width: 960px;
}

/* facts container */

.prep-cont{
  display: flex;
  flex-direction: column;
  margin: 2em 0 2em 2em;
  width: 90%;
}
.prep{
  /* display: flex;
  flex-direction: row */
  display: grid;
  grid-template-columns: 13px 55px;
  grid-template-rows: auto;
  gap: 0.5em;
  margin-bottom: 2em;
}

.fa-utensils, .fa-clock{
  justify-self: center;
  align-self: center;
}

.fa-utensils{
  color: #F2994A;
}

.prep-cont-p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
  color: #BDBDBD;
}

.prep-cont-p1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.2em;
  color: #F2994A;
}
.facts{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
}

.facts-cont{
  display: grid;
  grid-template-columns: 14px 90px;
  grid-template-rows: auto;
}

.fa-clock{
  color:#4F4F4F;
}

.facts-cont-p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 1em;
  text-transform: uppercase;
  color: #BDBDBD;
}

.facts-cont-p1{
  font-family: Montserrat;
  font-style: normal;
  font-size: 1em;
  line-height: 1.2em;
  color: #333333;
}


/* Ingridients */

.ingredient-cont{
  margin-left: 2em;
}

.ingredient-cont-p1{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 2.4em;
  line-height: 1.2em;
  color: #333333;
  margin-top: 2em;
}

.ingredient-cont-p2, .cheesecake{
  font-family: Playfair Display;
  font-style: italic;
  font-weight: normal;
  font-size: 1.6em;
  line-height: 1.1em;
  color: #333333;
}

.ing-cont{
  display: flex;
}

input[type=checkbox]{
  border: 1px solid #828282;
  border-radius: 4px;
  padding-right: 5px;
  display: inline-block;
}

.ing-cont-p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.5em;
  color: #333333;
  margin:10px;
}

.ingredient-cont-p1,.ingredient-cont-p2{
  margin-bottom: 1.3em;
}
span{
  font-weight: bold;
  font-family: Montserrat;
  font-style: normal;
  color: #333333;
  margin:10px;
  font-size: 1.4rem;
}

/* instructions */

.instructions{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0em 0em 0em 2em;
}
.inst{
  display: flex;
  margin: 0 0 4em 0;
}

/* .inst:nth-last-of-type(1){
  margin: 0;
} */

.instructions-p1{
  width: 137px;
  height: 32px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  margin:1.3em 0  1.3em 0;
}


.instructions-box{
  width: 36px;
  height: 36px;
  background: #F2994A;
  border-radius: 6px;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-right: 2em;
}

.inst-number{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.instructions-p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  flex:2
}
/* source */

a{
  width: 352px;
  height: 36px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #BDBDBD;
  margin-left: 20px;
  display: block;
}

footer p{
  width: 287px;
  height: 17px;
  left: 46px;
  top: 1368px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #A9A9A9;
  margin-top: 10px;
  margin-left: 20px;
}

@media(min-width: 810px){
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrapper-w{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto;
    width: 80%;
  }
  .container-1{
    max-width: 530px;
  }
  .prep-cont{
    width: 216px;
    height: 367px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    align-self: start;
    justify-self: center;
  }

  .prep{
    margin-bottom: 4em;
  }
  .facts{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
  }

  .facts-cont{
    margin-bottom: 4em;
  }

  .ingredient-cont{
    grid-row: 1/2;
  }
}
